nav{
    background-color: rgba($color: #eee, $alpha: 0.6);
}
/*
.with-sub{
    overflow-y: visible;
}

.menu-item.dropdown{
    display: block;
}

.dropdown.active .menu{
    display: none;
}

.dropdown .dropdown-toggle:focus + .menu, .dropdown > .menu:hover, .dropdown.active > .menu{
    display: block;
}
*/

.dropdown-submenu{
    position: relative;

    &:hover .dropdown-menu{
        display: block;
        top: -.7rem;
        left: 100%;
    }
}
