<ng-container [ngSwitch]="phase">
  <div *ngSwitchCase="8">
    Fase de octavos
  </div>
  <div *ngSwitchCase="4">
    <table class="table playoffs">
      <tbody>
        <tr>
          <td class="text-center">{{quarter1.team_id_1 ? quarter1.team_name_1 : '1º'}}</td>
          <td rowspan="2" class="text-center info"><i class="fa fa-chevron-right"></i></td>
          <td rowspan="2" class="text-center">{{semi1.team_id_1 ? semi1.team_name_1 : 'Semifinalista'}}</td>
          <td rowspan="5" class="text-center info"><i class="fa fa-chevron-right"></i></td>
          <td rowspan="5" class="text-center">{{final.team_id_1 ? final.team_name_1 : 'Finalista'}}</td>
          <td rowspan="11" class="text-center info"><i class="fa fa-chevron-right"></i></td>
          <td rowspan="11" class="text-center">
            <ng-container *ngIf="final; else nofinal">
              <b>Ganador</b>
              <br *ngIf="final.updated">
              <span *ngIf="final.updated && final.td_1 > final.td_2">{{final.team_name_1}}</span>
              <span *ngIf="final.updated && final.td_2 > final.td_1">{{final.team_name_2}}</span>
            </ng-container>
          </td>
        </tr>
        <tr>
          <td class="text-center">{{quarter1.team_id_2 ? quarter1.team_name_2 : '8º'}}</td>
        </tr>
        <tr>
          <td colspan="3"></td>
        </tr>
        <tr>
          <td class="text-center">{{quarter2.team_id_1 ? quarter2.team_name_1 : '4º'}}</td>
          <td rowspan="2" class="text-center info"><i class="fa fa-chevron-right"></i></td>
          <td rowspan="2" class="text-center">{{semi1.team_id_2 ? semi1.team_name_2 : 'Semifinalista'}}</td>
        </tr>
        <tr>
          <td class="text-center">{{quarter2.team_id_2 ? quarter2.team_name_2 : '5º'}}</td>
        </tr>
        <tr>
          <td colspan="5"></td>
        </tr>
        <tr>
          <td class="text-center">{{quarter3.team_id_1 ? quarter3.team_name_1 : '2º'}}</td>
          <td rowspan="2" class="text-center info"><i class="fa fa-chevron-right"></i></td>
          <td rowspan="2" class="text-center">{{semi2.team_id_1 ? semi2.team_name_1 : 'Semifinalista'}}</td>
          <td rowspan="5" class="text-center info"><i class="fa fa-chevron-right"></i></td>
          <td rowspan="5" class="text-center">{{final.team_id_2 ? final.team_name_2 : 'Finalista'}}</td>
        </tr>
        <tr>
          <td class="text-center">{{quarter3.team_id_2 ? quarter3.team_name_2 : '7º'}}</td>
        </tr>
        <tr>
          <td colspan="3"></td>
        </tr>
        <tr>
          <td class="text-center">{{quarter4.team_id_1 ? quarter4.team_name_1 : '3º'}}</td>
          <td rowspan="2" class="text-center info"><i class="fa fa-chevron-right"></i></td>
          <td rowspan="2" class="text-center">{{semi2.team_id_2 ? semi2.team_name_2 : 'Semifinalista'}}</td>
        </tr>
        <tr>
          <td class="text-center">{{quarter4.team_id_2 ? quarter4.team_name_2 : '6º'}}</td>
        </tr>
        <tr>
          <td colspan="9"><hr></td>
        </tr>
        <tr>
          <td colspan="4" rowspan="3"></td>
          <td class="text-center">
            {{third.team_id_1 ? third.team_name_1 : 'Finalista 3º y 4º puesto'}}
          </td>
          <td rowspan="3" class="text-center info"><i class="fa fa-chevron-right"></i></td>
          <td rowspan="3" class="text-center">
            <ng-container *ngIf="third; else nothird">
              <b>3º puesto</b>
              <br *ngIf="third.updated">
              <span *ngIf="third.updated && third.td_1 > third.td_2">{{third.team_name_1}}</span>
              <span *ngIf="third.updated && third.td_2 > third.td_1">{{third.team_name_2}}</span>
            </ng-container>
          </td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td class="text-center">{{third.team_id_2 ? third.team_name_2 : 'Finalista 3º y 4º puesto'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngSwitchCase="2">
    <table class="table playoffs">
      <tbody>
        <tr>
          <td class="text-center">{{semi1.team_id_1 ? semi1.team_name_1 : '1º'}}</td>
          <td rowspan="2" class="text-center info"><i class="fa fa-chevron-right"></i></td>
          <td rowspan="2" class="text-center">{{final ? final.team_name_1 : 'Finalista'}}</td>
          <td rowspan="5" class="text-center info"><i class="fa fa-chevron-right"></i></td>
          <td rowspan="5" class="text-center">
            <ng-container *ngIf="final; else nofinal">
              <b>Ganador</b>
              <br *ngIf="final.updated">
              <span *ngIf="final.updated && final.td_1 > final.td_2">{{final.team_name_1}}</span>
              <span *ngIf="final.updated && final.td_2 > final.td_1">{{final.team_name_2}}</span>
            </ng-container>
          </td>
        </tr>
        <tr>
          <td class="text-center">{{semi1.team_id_2 ? semi1.team_name_2 : '4º'}}</td>
        </tr>
        <tr>
          <td colspan="3"><hr></td>
        </tr>
        <tr>
          <td class="text-center">{{semi2.team_id_1 ? semi2.team_name_1 : '2º'}}</td>
          <td rowspan="2" class="text-center info"><i class="fa fa-chevron-right"></i></td>
          <td rowspan="2" class="text-center">{{final ? final.team_name_2 : 'Finalista'}}</td>
        </tr>
        <tr>
          <td class="text-center">{{semi2.team_id_2 ? semi2.team_name_2 : '3º'}}</td>
        </tr>
        <tr>
          <td colspan="7"><hr></td>
        </tr>
        <tr>
          <td colspan="2" rowspan="3"></td>
          <td class="text-center">{{third ? third.team_name_1 : 'Finalista 3º y 4º puesto'}}</td>
          <td rowspan="3" class="text-center info"><i class="fa fa-chevron-right"></i></td>
          <td rowspan="3" class="text-center">
            <ng-container *ngIf="third; else nothird">
              <b>3º puesto</b>
              <br *ngIf="third.updated">
              <span *ngIf="third.updated && third.td_1 > third.td_2">{{third.team_name_1}}</span>
              <span *ngIf="third.updated && third.td_2 > third.td_1">{{third.team_name_2}}</span>
            </ng-container>
          </td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td class="text-center">{{third ? third.team_name_2 : 'Finalista 3º y 4º puesto'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>

<ng-template #nofinal>
  Ganador
</ng-template>

<ng-template #nothird>
  3º puesto
</ng-template>