<div class="row justify-content-center">
  <div class="col-10">
    <h1>Enlaces <small>- Lista</small>
      <button type="button" (click)="addLink()" class="btn btn-width btn-primary mt-2 float-right">Nuevo</button>
    </h1>

    <table class="table table-striped">
      <thead>
        <tr>
          <th class="d-none">ID</th>
          <th>Nombre</th>
          <th>URL</th>
          <th>Creado</th>
          <th>Actualizado</th>
          <th>Operaciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let link of links">
          <td class="d-none">{{link.id}}</td>
          <td>{{link.name}}</td>
          <td>{{link.url}}</td>
          <td class="text-center">{{link.created_at | date: 'dd/MM/yyyy HH:mm'}}</td>
          <td class="text-center">
            <span *ngIf="link.updated_at">{{link.updated_at | date: 'dd/MM/yyyy HH:mm'}}</span></td>
          <td class="text-center">
            <div class="btn-group">
              <button type="button" (click)="editLink(link)" title="Editar" class="btn btn-sm btn-primary">
                <i class="fa fa-pen"></i>
              </button>
              <button type="button" (click)="publishLink(link)" class="btn btn-sm btn-light"
                title="{{link.published ? 'Despublicar el enlace' : 'Publicar el enlace'}}"><i
                  class="fa fa-thumbs-{{link.published ? 'up' : 'down'}} text-{{link.published ? 'success' : 'danger'}}"></i></button>
              <button type="button" (click)="deleteLink(link)" class="btn btn-sm btn-danger" title="Borrar enlace"><i
                  class="fa fa-skull-crossbones"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>