<h1>Enlaces <small>- Lista</small>
  <a routerLink="/admin/links/new" class="btn btn-width btn-primary mt-2 float-right">Nuevo</a>
</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Estado</th>
      <th>ID</th>
      <th>Nombre</th>
      <th>URL</th>
      <th>Fecha creaci&oacute;n</th>
      <th>Ultima actualizaci&oacute;n</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let link of links">
      <td class="text-center">
        <a routerLink="/admin/links/publish/{{link.id}}" class="btn btn-light"
          title="{{link.pusblished ? 'Despublicar el enlace' : 'Publicar el enlace'}}"><i
            class="fa fa-thumbs-{{link.pusblished ? 'up' : 'down'}} text-{{link.pusblished ? 'success' : 'danger'}}"></i></a>
        <a routerLink="/admin/links/delete/{{link.id}}" class="btn btn-xs btn-danger" title="Borrar enlace"
          onclick="return confirm('¿Seguro que quieres borrar este enlace?')"><i class="fa fa-trash"></i></a>
      </td>
      <td>{{link.id}}</td>
      <td><a routerLink="/admin/links/edit/{{link.id}}" title="Modificar el contenido del enlace">{{link.name}}</a></td>
      <td>{{link.url}}</td>
      <td class="text-center">{{link.created_at | date: 'dd/MM/yyyy HH:mm'}}</td>
      <td class="text-center">
        <span *ngIf="link.updated_at">{{link.updated_at | date: 'dd/MM/yyyy HH:mm'}}</span></td>
    </tr>
  </tbody>
</table>