<h1>{{ type | titlecase }} <small>- Lista</small>
  <div class="dropdown float-right" routerLinkActive="active" dropdown>
    <button class="btn btn-success dropdown-toggle" dropdownToggle data-toggle="dropdown">
      Nuevo <span class="caret"></span>
    </button>
    <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
      <a class="dropdown-item" routerLink="/admin/posts/new">Post</a>
      <a class="dropdown-item" routerLink="/admin/photos/new">Foto</a>
      <a class="dropdown-item" routerLink="/admin/chronicles/new">Crónica</a>
    </div>
  </div>
</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="d-none">ID</th>
      <th>T&iacute;tulo</th>
      <th>Fecha creaci&oacute;n</th>
      <th>Ultima actualizaci&oacute;n</th>
      <th>N&ordm; comentarios</th>
      <th>Operaciones</th>
    </tr>
  </thead>
  <tbody *ngIf="posts">
    <tr *ngFor="let post of posts.results">
      <td class="d-none">{{post.id}}</td>
      <td><a routerLink="/admin/{{type}}/{{post.id}}" title="Modificar el contenido del post">{{post.title}}</a>
      </td>
      <td class="text-center">{{post.created_at | date: 'dd/MM/yyyy HH:mm'}}</td>
      <td class="text-center">{{post.updated_at | date: 'dd/MM/yyyy HH:mm'}}</td>
      <td class="text-center">{{post.comment_count}}</td>
      <td class="text-center">
        <div class="btn-group">
          <button type="button" (click)="publish(post)" class="btn btn-sm btn-light"
            [title]="post.status === 'published' ? 'Despublicar '.type : 'Publicar '.type"><i
              class="fa fa-thumbs-{{post.status === 'published' ? 'up' : 'down'}} text-{{post.status === 'published' ? 'success' : 'danger'}}"></i></button>
          <a routerLink="/admin/posts/delete/{{post.id}}" class="btn btn-sm btn-danger" title="Eliminar {{type}}"><i
              class="fa fa-skull-crossbones"></i></a>
        </div>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="!posts">
    <tr>
      <td colspan="6" class="text-center">No hay posts en esta categoría</td>
    </tr>
  </tbody>
</table>