<div class="modal-header">
  <div class="modal-title h5">Confirmación</div>
  <button class="btn btn-clear" (click)="close()" aria-label="Close"><i class="fa fa-times"></i></button>
</div>
<div class="modal-body">
  <div class="content">
    {{ bodyText }}
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-width btn-primary mr-2" (click)="confirm()">
    Si
  </button>
  <button type="button" class="btn btn-width btn-outline-secondary" (click)="close()">
    No
  </button>
</div>