@import '../../../sass/variables.scss';

.btn-raza-item {
	background-color: $green;
	border:#a5a7aa solid 1px;
	color: #ffffff;
	margin-bottom: 20px;
	display: block;

	&:hover{
		text-decoration: none;
	}
}