<div *ngFor="let team of teams">
  <h3 class="clearfix">{{team.name}}<a routerLink="/teams/{{team.permalink}}/print" target="_blank" title="Versi&oacute;n del equipo para imprimir" class="btn btn-primary float-right"><i class="fa fa-print"></i> Versi&oacute;n para imprimir</a></h3>
  <table class="table table-striped">
  <thead>
    <tr>
      <th title="Raza del equipo">Raza</th>
      <th title="Tesorer&iacute;a">Tesorer&iacute;a</th>
      <th title="Segundas Oportunidades">Segundas</th>
      <th title="Factor de Hinchas">Hinchas</th>
      <th title="Ayudantes del entrenador">Ayudantes</th>
      <th title="Animadoras">Animadoras</th>
      <th title="Apotecario">Apotecario</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">{{team.race_name}}</td>
      <td class="text-center">{{number_format(team.treasury)}} mo</td>
      <td class="text-center">{{team.rerolls}}</td>
      <td class="text-center">{{team.fan_factor}}</td>
      <td class="text-center">{{team.assistants}}</td>
      <td class="text-center">{{team.cheerleaders}}</td>
      <td class="text-center">{{team.apothecary==1 ? "Si" : "No"}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="7" class="text-right"><b>Coste de los extras: {{addons(team)/1000}}k</b></td>
    </tr>
  </tfoot>
  </table>

  <table class="table table-striped">
  <thead>
    <tr>
      <th title="Dorsal">#</th>
      <th title="Nombre">Nombre</th>
      <th title="Posici&oacute;n">Posici&oacute;n</th>
      <th title="Movimiento">MO</th>
      <th title="Fuerza">FU</th>
      <th title="Agilidad">AG</th>
      <th title="Armadura">AR</th>
      <th title="Habilidades">Habilidades</th>
      <!--
      <th title="Heridas">INJ</th>
      <th title="Pases Completos">COM</th>
      <th title="Touch Downs">TD</th>
      <th title="Intercepciones">INT</th>
      <th title="Bajas">CAS</th>
      <th title="Mejor Jugador del Encuentro">MVP</th>
      -->
      <th title="Puntos de Experiencia">SPP</th>
      <th title="Coste">Coste</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of team.players">
      <td class="text-center">{{player.number}}</td>
      <td class="name-col" title="{{player.name}}">{{player.name}}</td>
      <td>{{player.position_name}}</td>
      <td class="text-center">{{player.ma}}</td>
      <td class="text-center">{{player.st}}</td>
      <td class="text-center">{{player.ag}}</td>
      <td class="text-center">{{player.av}}</td>
      <td>{{player.skills}}</td>
      <!--
      <td>{{$jugador->INJ}}</td>
      <td class="text-center">{{$jugador->COM!=0) ? $jugador->COM : "-" }}</td>
      <td class="text-center">{{$jugador->TD!=0) ? $jugador->TD : "-" }}</td>
      <td class="text-center">{{$jugador->INT!=0) ? $jugador->INT : "-" }}</td>
      <td class="text-center">{{$jugador->CAS!=0) ? $jugador->CAS : "-" }}</td>
      <td class="text-center">{{$jugador->MVP!=0) ? $jugador->MVP : "-"*/ }}</td>
      -->
      <td class="text-center">{{player.spp !== 0  ? player.spp : '-'}}</td>
      <td [ngClass]="{'strike-through': player.injuries}">{{player.value/1000}}k</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5">Total de jugadores: {{team.players_count}}</td>
      <td colspan="4" class="text-right"><b>Coste jugadores:</b></td>
      <td><b>{{team.players_value/1000}}k</b></td>
    </tr>
  </tfoot>
  </table>
  <div class="text-right"><b>Valor del equipo (VE): {{number_format(addons(team) + team.players_value)}} monedas de oro</b></div>
  <hr>
</div>
