@import '../../../sass/variables.scss';

header {
    position: relative;
    margin-bottom: 2rem;
}

h1{
    padding-top: 3rem;
    padding-bottom: 2rem;
    a{
        color: $color-green;
        background-color: white;
        background-color: rgba(255, 255, 255, 0.5);
        display: inline-block;
        padding: 1rem;
        border: 1px solid white;
        border: 1px solid rgba(255, 255, 255, 0.4);

        &:hover{
            text-decoration: none;
        }
    }
}

.navbar{
    padding: 0 1rem;
    background-color: #669900;
}
