@import '../../../sass/variables.scss';

h1{
    padding-top: 3rem;
    padding-bottom: 2rem;
    a{
        color: $standard-green;
        text-shadow: 0 0 4px white;

        &:hover{
            text-decoration: none;
        }
    }
}
