<div class="modal-header">
  <button class="btn btn-clear float-right" (click)="close()" aria-label="Close"></button>
  <div class="modal-title h5">{{ title }} posición</div>
</div>
<form [formGroup]="positionform" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="row">
      <div class="col-8">
        <div class="row">
          <div class="col-4">
            <div
              class="form-group"
              [ngClass]="
                limit.invalid && (limit.dirty || limit.touched) ? 'has-error' : ''
              "
            >
              <label>Limite</label>
              <input
                type="number"
                min="1"
                max="16"
                class="form-control"
                formControlName="limit"
              />
            </div>
          </div>
          <div class="col-5">
            <div
              class="form-group"
              [ngClass]="name.invalid && (name.dirty || name.touched) ? 'has-error' : ''"
            >
              <label>Denominación</label>
              <input type="text" class="form-control" formControlName="name" />
            </div>
          </div>
          <div class="col-3">
            <div
              class="form-group"
              [ngClass]="
                price.invalid && (price.dirty || price.touched) ? 'has-error' : ''
              "
            >
              <label>Coste</label>
              <input
                type="number"
                step="1000"
                class="form-control"
                formControlName="price"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <div
              class="form-group"
              [ngClass]="ma.invalid && (ma.dirty || ma.touched) ? 'has-error' : ''"
            >
              <label>Movimiento</label>
              <input
                type="number"
                min="1"
                max="10"
                class="form-control"
                formControlName="ma"
              />
            </div>
          </div>
          <div class="col-3">
            <div
              class="form-group"
              [ngClass]="st.invalid && (st.dirty || st.touched) ? 'has-error' : ''"
            >
              <label>Fuerza</label>
              <input
                type="number"
                min="1"
                max="10"
                class="form-control"
                formControlName="st"
              />
            </div>
          </div>
          <div class="col-3">
            <div
              class="form-group"
              [ngClass]="ag.invalid && (ag.dirty || ag.touched) ? 'has-error' : ''"
            >
              <label>Agilidad</label>
              <input
                type="number"
                min="1"
                max="10"
                class="form-control"
                formControlName="ag"
              />
            </div>
          </div>
          <div class="col-3">
            <div
              class="form-group"
              [ngClass]="av.invalid && (av.dirty || av.touched) ? 'has-error' : ''"
            >
              <label>Armadura</label>
              <input
                type="number"
                min="1"
                max="10"
                class="form-control"
                formControlName="av"
              />
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Habilidades</label>
          <textarea
            class="form-control"
            formControlName="skills"
            rows="4"
            cols="50"
          ></textarea>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-6">
            <div
              class="form-group"
              [ngClass]="
                normal.invalid && (normal.dirty || normal.touched) ? 'has-error' : ''
              "
            >
              <label>Tirada normal</label><br />
              <label
                class="form-checkbox"
                formArrayName="normal"
                *ngFor="let order of positionform.controls.normal.controls; let i = index"
              >
                <input
                  type="checkbox"
                  [formControlName]="i"
                  (click)="toggleType('doubles', i)"
                />
                <i class="form-icon"></i>
                {{ skillType(i) }}
              </label>
            </div>
          </div>
          <div class="col-6">
            <div
              class="form-group"
              [ngClass]="
                doubles.invalid && (doubles.dirty || doubles.touched) ? 'has-error' : ''
              "
            >
              <label>Tirada dobles</label><br />
              <label
                class="form-checkbox"
                formArrayName="doubles"
                *ngFor="
                  let order of positionform.controls.doubles.controls;
                  let i = index
                "
              >
                <input
                  type="checkbox"
                  [formControlName]="i"
                  (click)="toggleType('normal', i)"
                />
                <i class="form-icon"></i>
                {{ skillType(i) }}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-width mr-2 btn-primary">Guardar</button>
    <button type="button" class="btn btn-outline-secondary btn-width" (click)="close()">
      Cancelar
    </button>
  </div>
</form>
