<div class="modal-header pb-0">
  <button class="btn btn-clear float-right" (click)="close()" aria-label="Close"></button>
  <div class="modal-title h5">{{title}} posición</div>
</div>
<form [formGroup]="positionform" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="columns">
      <div class="column col-8">
        <div class="columns">
          <div class="column col-4">
            <div class="form-group">
              <label>Limite</label>
              <input type="text" class="form-input" formControlName="limit">
            </div>
          </div>
          <div class="column col-5">
            <div class="form-group">
              <label>Denominación</label>
              <input type="text" class="form-input" formControlName="name">
            </div>
          </div>
          <div class="column col-3">
            <div class="form-group">
              <label>Coste</label>
              <input type="text" class="form-input" formControlName="price">
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column col-3">
            <div class="form-group">
              <label>Movimiento</label>
              <input type="text" class="form-input" formControlName="ma">
            </div>
          </div>
          <div class="column col-3">
            <div class="form-group">
              <label>Fuerza</label>
              <input type="text" class="form-input" formControlName="st">
            </div>
          </div>
          <div class="column col-3">
            <div class="form-group">
              <label>Agilidad</label>
              <input type="text" class="form-input" formControlName="ag">
            </div>
          </div>
          <div class="column col-3">
            <div class="form-group">
              <label>Armadura</label>
              <input type="text" class="form-input" formControlName="av">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Habilidades</label>
          <textarea class="form-input" formControlName="skills" rows="4" cols="50"></textarea>
        </div>
      </div>
      <div class="column col-4">
        <div class="columns">
          <div class="column col-6">
            <div class="form-group tirada-normal">
              <label>Tirada normal</label><br>
              <label class="form-checkbox" formArrayName="normal" *ngFor="let order of positionform.controls.normal.controls; let i = index">
                <input type="checkbox" [formControlName]="i">
                <i class="form-icon"></i>
                {{skilltypes[i].short}}
              </label>
            </div>
          </div>
          <div class="column col-6">
            <div class="form-group tirada-dobles">
              <label>Tirada dobles</label><br>
              <label class="form-checkbox" formArrayName="doubles" *ngFor="let order of positionform.controls.doubles.controls; let i = index">
                <input type="checkbox" [formControlName]="i">
                <i class="form-icon"></i>
                {{skilltypes[i].short}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer pt-0">
    <button type="button" class="btn btn-width mr-2 btn-primary">Guardar</button>
    <button type="button" class="btn btn-width" (click)="close()">Cancelar</button>
  </div>
</form>