<app-header></app-header>

<app-navbar></app-navbar>

<main class="container-fluid">
  <app-spinner>
    <div class="tournament-nav shadow-sm" *ngIf="tournamentSelected">
      <h2>{{tournamentSelected.name}} Ria de Nurgle</h2>
      <nav class="nav">
        <a class="nav-link" routerLinkActive="active" routerLink="/tournaments/{{tournamentSelected.permalink}}/teams" title="La lista de equipos que participan en el torneo">Equipos</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/tournaments/{{tournamentSelected.permalink}}/stats" title="Estad&iacute;sticas por jugador, equipo y encuentro">Estad&iacute;sticas</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/tournaments/{{tournamentSelected.permalink}}/experience" title="La experiencia acumulada por los jugadores de cada equipo">Experiencia</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/tournaments/{{tournamentSelected.permalink}}/ranking" title="Los puntos de cada equipo">Clasificaci&oacute;n</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/tournaments/{{tournamentSelected.permalink}}/journeys" title="Selecciona la jornada que quieres ver para echar un vistazo a los partidos que se jugaron">Jornadas</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/tournaments/{{tournamentSelected.permalink}}/matches" title="Todos los partidos de la copa">Emparejamientos</a>
        <a class="nav-link" *ngIf="tournamentSelected.playoffs" routerLinkActive="active" routerLink="/tournaments/{{tournamentSelected.permalink}}/playoffs" title="Los resultados de los playoffs de la liga">PlayOffs</a>
      </nav>
    </div>
    <div class="c-header" *ngIf="!tournamentSelected">
      <h2>{{title$ | async}}</h2>
    </div>
    <div class="c-body">
      <router-outlet></router-outlet>
    </div>
  </app-spinner>
</main>

<app-footer></app-footer>
