<app-header></app-header>

<main class="off-canvas off-canvas-sidebar-show">
	<a class="off-canvas-toggle btn btn-primary btn-action" href="#sidebar-id">
		<i class="fas fa-bars"></i>
	</a>

	<div id="sidebar-id" class="off-canvas-sidebar">
		<div class="text-center logo">
			<img src="assets/img/bloodbowl_mini.gif" title="Logo Bloodbowl" alt="Logo Bloodbowl" />
		</div>

		<div class="menus">
			<nav class="menu">
				<li class="menu-item">
					<a a routerLink="/" title="P&aacute;gina principal de la web">Portada</a>
				</li>
				<li class="menu-item">
					<a a routerLinkActive="active" routerLink="/coaches" title="La lista de los entrenadores de BB que participan en la comunidad">Entrenadores</a>
				</li>
				<li class="menu-item">
					<a a routerLinkActive="active" routerLink="/photos" title="P&aacute;gina con las fotos que ilustran los torneos de la comunidad">Fotos</a>
				</li>
				<li class="menu-item">
					<a a routerLinkActive="active" routerLink="/races" title="Muestra los jugadores de los equipos de cada raza">Razas en BB</a>
				</li>
				<li class="menu-item">
					<a a routerLinkActive="active" routerLink="/skills" title="Lista de habilidades que los jugadores pueden usar en Bloodbowl">Habilidades en BB</a>
				</li>
				<li class="menu-item">
					<a a routerLinkActive="active" routerLink="/hall-of-fame" title="Donde todos los jugadores quieren estar, pero solo los mejores tienen ese honor">The Hall Of Fame</a>
				</li>
				<li class="menu-item">
					<a a routerLinkActive="active" routerLink="/hall-of-death" title="Aquellos que nos han dejado tambi&eacute;n tienen aqu&iacute; su sitio">The Hall Of Death</a>
				</li>
				<!--a a routerLink="/foro" title="Accede a nuestro foro para comentar lo que quieras sobre la liga de Bloodbowl">Foro</a-->
			</nav>

			<div id="menu-torneos" *ngIf="tournaments && !tournamentSelected">
				<h3 class="seccion">Trofeos</h3>
				<ul class="menu">
					<li class="menu-item">
						<a *ngFor="let tournament of tournaments" routerLink="/tournaments/{{tournament.permalink}}" title="{{tournament.name}} Ria de Nurgle">{{tournament.name}}</a>
					</li>
				</ul>
			</div>

			<div id="menu-torneo" *ngIf="tournamentSelected">
				<h3 class="seccion"><button title="Volver a la lista de torneos" class="btn btn-default" id="ocultar-menu-torneo"><i class="fa fa-angle-left"></i><span class="text-hide">Lista</span></button> {{tournamentSelected.name}}</h3>
				<div class="menu">
					<li class="menu-item">
						<a routerLinkActive="active" routerLink="/tournaments/{{tournamentSelected.permalink}}/teams" title="La lista de equipos que participan en el torneo">Equipos</a>
					</li>
					<li class="menu-item">
						<a routerLinkActive="active" routerLink="/tournaments/{{tournamentSelected.permalink}}/stats" title="Estad&iacute;sticas por jugador, equipo y encuentro">Estad&iacute;sticas</a>
					</li>
					<li class="menu-item">
						<a routerLinkActive="active" routerLink="/tournaments/{{tournamentSelected.permalink}}/experience" title="La experiencia acumulada por los jugadores de cada equipo">Experiencia</a>
					</li>
					<li class="menu-item">
						<a routerLinkActive="active" routerLink="/tournaments/{{tournamentSelected.permalink}}/ranking" title="Los puntos de cada equipo">Clasificaci&oacute;n</a>
					</li>
					<li class="menu-item">
						<a routerLinkActive="active" routerLink="/tournaments/{{tournamentSelected.permalink}}/journeys" title="Selecciona la jornada que quieres ver para echar un vistazo a los partidos que se jugaron" >Jornadas</a>
					</li>
					<li class="menu-item">
						<a routerLinkActive="active" routerLink="/tournaments/{{tournamentSelected.permalink}}/matches" title="Todos los partidos de la copa">Emparejamientos</a>
					</li>
					<li class="menu-item">
						<a *ngIf="tournamentSelected.playoffs" routerLinkActive="active" routerLink="/tournaments/{{tournamentSelected.permalink}}/playoffs" title="Los resultados de los playoffs de la liga">PlayOffs</a>
					</li>
				</div>
			</div>

			<h3 *ngIf="links">Enlaces</h3>
			<div id="related_links" *ngIf="links">
				<ul class="menu">
					<li *ngFor="let link of links" class="menu-item">
						<a target="_blank" href="{{link.url}}" title="{{link.description}}">
							<h4 class="menu-item-heading">{{link.name}}</h4>
							<p class="menu-item-text">{{link.description}}</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<a class="off-canvas-overlay" href="#close"></a>

	<div class="off-canvas-content">
		<router-outlet></router-outlet>
	</div>
</main>

<app-footer></app-footer>
