@import '../../../sass/variables.scss';

.menus{
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    padding: .5rem;
    background-color: white;
    background-color: rgba($color: #fff, $alpha: 0.8);

    .menu{
        background: none;
        box-shadow: none;
        padding: 0;
        margin-bottom: 2rem;
    }
}

.c-header{
    padding: .25rem 1rem;
    background: url(../../../assets/img/c-header.jpg) left top repeat;
    background-size: contain;

    @media screen and (max-width: 767px) {
        background-size: cover;
        background-repeat: no-repeat;
    }

    h2{
        color: white;
        margin: 0;
        text-shadow: 0 0 7px #000;
    }
}

.c-body{
    padding: .5rem 1rem;
    background-color: white;
    background-color: rgba($color: #fff, $alpha: 0.8);
}

.navbar{
    padding: 0 1rem;
    margin-bottom: 2rem;
    background-color: #669900;
}

.c-header,
.tournament-nav{
    top: 42px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 2;

    @media screen and (max-width: 767px) {
        top: 40px;
    }
}
.tournament-nav{
    background-color: white;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;

    h2{
        margin-bottom: 0;
        line-height: 40px;
        padding-left: 1rem;
        padding-right: 1rem;
        color: $green;
        font-size: 1.5rem;
    }

    .nav-link{
        color: $green;

        &:hover{
            color: $green-hover;
        }

        &.active{
            color: white;
            background-color: $green;

            &:hover{
                color: white;
            }
        }
    }
}