<ng-container *ngIf="photo">
  <div class="clearfix">
    <small>
      <a routerLink="/photos" title="Volver a la galería" class="btn btn-link">Volver a la galería</a>
      <button class="btn btn-link float-right" title="Ver comentarios" (click)="scroll(comments)">{{photo.comment_count + ' ' + (photo.comment_count==1 ? "comentario" : "comentarios")}}</button>
    </small>
  </div>

  <figure class="ml-0 mr-0">
    <ul class="pagination">
      <li class="page-item page-prev">
          <a *ngIf="photo.previous" class="btn btn-primary anterior" routerLink="/photos/{{photo.previous.permalink}}" title="Ver la foto anterior de la galer&iacute;a"><i class="fa fa-angle-left"></i><span class="sr-only">Anterior</span></a>
      </li>
      <li class="page-item page-next">
          <a *ngIf="photo.next" class="btn btn-primary siguiente" routerLink="/photos/{{photo.next.permalink}}" title="Ver la foto siguiente de la galer&iacute;a"><span class="sr-only">Siguiente</span><i class="fa fa-angle-right"></i></a>
      </li>
    </ul>
    <img [src]="src" [alt]="photo.title" class="img-responsive">
    <br>
    <figcaption>
      <p *ngIf="match">Foto obtenida en el encuentro 
        <a *ngIf="match" title="Ver detalles del encuentro" routerLink="/tournaments/{{match.tournament_permalink}}/matches/{{match.id}}">{{match.team_name_1 + ' vs ' + match.team_name_2 + ' (Jornada ' + match.journey + ' - ' + match.tournament + ')'}}</a>
      </p>
      <small>Fecha foto: {{photo.archive_date | date: 'dd/MM/yyyy'}}</small>
    </figcaption>
  </figure>

  <div [innerHtml]="photo.content"></div>

  <h3 #comments>Comentarios</h3>

  <p *ngIf="!photo.comments">No hay ning&uacute;n comentario sobre la foto</p>
  <ul class="comments" *ngIf="photo.comments">
    <li *ngFor="let comment of photo.comments; index as i">
      <span class="comment_number">{{i + 1}}</span>
      <div class="comment_body">
        <p *ngIf="comment.author_url" class="comment_info"><a href="{{comment.author_url}}" title="La p&aacute;gina web del autor de este comentario">{{comment.author}}</a> dijo...</p>
        <p *ngIf="!comment.author_url" class="comment_info">{{comment.author}} dijo...</p>
        <div [innerHtml]="comment.content"></div>
      </div>
      <div class="comment_foot"><i class="text-dark">Perpetrado el {{comment.created_at | date: 'dd/MM/yyyy HH:mm'}}</i></div>
    </li>
  </ul>

  <div *ngIf="photo.comment_status === 'open'" class="new_comment">
    <form [formGroup]="commentform" (ngSubmit)="onSubmit()">
      <fieldset>
        <legend>Escribe un comentario</legend>
        <div class="form-group" [ngClass]="author.invalid && (author.dirty || author.touched) ? 'has-error' : ''">
            <label class="form-label">Nombre</label>
            <input type="text" formControlName="author" placeholder="Nombre para dejar en el comentario" class="form-input">
        </div>
        <div class="form-group" [ngClass]="content.invalid && (content.dirty || content.touched) ? 'has-error' : ''">
            <label class="form-label">Comentario</label>
            <textarea formControlName="content" cols="72" wrap="soft" rows="10" class="form-input" placeholder="Comentario"></textarea>
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary">Publicar comentario</button>
        </div>
      </fieldset>
    </form>
  </div>
</ng-container>
<a routerLink="/photos" title="Volver a la galería" class="btn btn-primary">Volver a la galería</a>