<div class="photos" *ngIf="photos">
  <div class="photo" *ngFor="let photo of photos; index as i">
    <div class="card">
      <div class="card-image">
        <img [src]="album[i].thumb" (click)="open(i)" class="img-responsive lightbox-image" title="Ver imagen ampliada" />
      </div>
      <div class="card-header">
        <h3 class="mb-0"><a routerLink="/photos/{{photo.permalink}}">{{photo.title}}</a></h3>
      </div>
      <div class="card-body">
        <p class="text-gray mb-0">{{photo.archive_date | date: 'dd/MM/yyyy'}}</p>
      </div>
      <div class="card-footer">
        {{photo.comment_count + ' ' + (photo.comment_count==1 ? "comentario" : "comentarios")}}
      </div>
    </div>
  </div>
</div>
<!--
<nav aria-label="paginacion de las fotos" *ngIf="totalPages > 1">
  <ul class="pager">
    <?php if ($ini>0) : ?>
      <li class="next"><a href="<?php echo base_url(). ($ini-10); ?>">Ver fotos más recientes <span aria-hidden="true">&rarr;</span></a></li>
    <?php endif;
    if ($ini+10<$total_fotos) : ?>
      <li class="previous"><a href="<?php echo base_url(). ($ini+10); ?>"><span aria-hidden="true">&larr;</span> Ver fotos más antiguos</a></li>
    <?php endif; ?>
  </ul>
</nav>
-->
