<ng-template #infoTooltip>
  <p class="mb-1" *ngIf="race && race.created_at">Creado en: {{ race.created_at | date: 'dd/MM/yyyy HH:mm' }}</p>
  <p class="mb-0" *ngIf="race && race.updated_at">Actualizado en: {{ race.updated_at | date: 'dd/MM/yyyy HH:mm' }}</p>
</ng-template>
<form [formGroup]="raceform" (ngSubmit)="onSubmit()" class="mb-4">
  <div class="row justify-content-center">
    <div class="col-10">
      <h1>{{ title }} raza<div class="float-right" [tooltip]="infoTooltip"><small><i *ngIf="race"
              class="fa fa-info"></i></small>
        </div>
      </h1>
      <div class="row mb-2">
        <div class="column col-md-8">
          <div class="form-group">
            <label class="form-label">Nombre</label>
            <input type="text" formControlName="name" placeholder="Nombre de la raza" class="form-control"
              [ngClass]="name.invalid && (name.dirty || name.touched) ? 'is-invalid' : ''" />
            <span *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">Debes rellenar el nombre
              de la raza</span>
          </div>
          <div class="form-group">
            <label class="form-label">Descripción</label>
            <textarea formControlName="description" rows="5" placeholder="Datos adicionales de la raza"
              class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label class="form-label">Coste segunda oportunidad</label>
            <input type="number" step="10000" formControlName="reroll_cost" placeholder="Coste en monedas"
              class="form-control" [ngClass]="
                reroll_cost.invalid && (reroll_cost.dirty || reroll_cost.touched)
                  ? 'is-invalid'
                  : ''
              " />
            <span *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">Debes rellenar el coste
              de la segunda oportunidad</span>
          </div>
        </div>
        <div class="column col-md-4">
          <div class="form-group">
            <label class="form-label">Escudo</label>
            <input type="text" formControlName="coat_arms" placeholder="Escudo de armas" class="form-control" [ngClass]="
                coat_arms.invalid && (coat_arms.dirty || coat_arms.touched)
                  ? 'is-invalid'
                  : ''
              " />
            <span *ngIf="coat_arms.invalid && (coat_arms.dirty || coat_arms.touched)" class="invalid-feedback">Debes
              rellenar el escudo de armas</span>
          </div>
          <div class="form-group">
            <p class="mb-1">Actual</p>
            <figure *ngIf="race && race.coat_arms">
              <img src="assets/img/races/{{ race.coat_arms }}.jpg" alt="Escudo de armas de la raza" />
            </figure>
          </div>
          <div class="form-group" *ngIf="race">
            <p class="mb-1">Permalink</p>
            <span *ngIf="race">{{ race.permalink }}</span>
          </div>
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary mr-2">Guardar</button>
        <a routerLink="/admin/races" class="btn btn-outline-secondary">Cancelar</a>
      </div>
    </div>
  </div>
</form>

<div class="row justify-content-center" *ngIf="race">
  <div class="col-10">
    <h2>
      Posiciones<button type="button" class="btn btn-primary float-right" (click)="addPosition()">
        Añadir posición
      </button>
    </h2>
    <table class="table table-condensed" id="tabla-posiciones">
      <thead>
        <tr>
          <th style="width: 5%;" title="L&iacute;mite">L&iacute;mite</th>
          <th title="Denominaci&oacute;n">Denominaci&oacute;n</th>
          <th style="width: 10%;" title="Coste">Coste</th>
          <th style="width: 5%;" title="Movimiento">MO</th>
          <th style="width: 5%;" title="Fuerza">FU</th>
          <th style="width: 5%;" title="Agilidad">AG</th>
          <th style="width: 5%;" title="Armadura">AR</th>
          <th title="Habilidades">Habilidades</th>
          <th style="width: 10%;" title="Habilidades disponibles con tirada normal">
            Normal
          </th>
          <th style="width: 10%;" title="Habilidades y atributos disponibles con tirada de dobles">
            Dobles
          </th>
          <th style="width: 92px;" title="Orden en el que se mostrarán los jugadores">
            Orden
          </th>
          <th style="width: 92px;">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let position of positions; index as i">
          <td>{{ position.limit }}</td>
          <td>{{ position.name }}</td>
          <td>{{ position.price }}</td>
          <td>{{ position.ma }}</td>
          <td>{{ position.st }}</td>
          <td>{{ position.ag }}</td>
          <td>{{ position.av }}</td>
          <td>{{ helperService.positionSkills(position) }}</td>
          <td>{{ getTypesSelected(position.normal) }}</td>
          <td>{{ getTypesSelected(position.doubles) }}</td>
          <td>
            <span>{{ position.order }}</span>
            <button *ngIf="i !== 0" (click)="positionUp(position)" title="Subir" class="btn btn-sm btn-link">
              <i class="fa fa-arrow-up"></i>
            </button>
            <button *ngIf="i !== positions.length - 1" (click)="positionDown(position)" title="Bajar"
              class="btn btn-sm btn-link">
              <i class="fa fa-arrow-down"></i>
            </button>
          </td>
          <td>
            <div class="btn-group">
              <button type="button" (click)="editPosition(position)" title="Editar" class="btn btn-sm btn-primary">
                <i class="fa fa-pen"></i>
              </button>
              <button title="Eliminar" class="btn btn-sm btn-danger" (click)="deletePosition(position)">
                <i class="fa fa-skull-crossbones"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>