/* You can add global styles to this file, and also import other style files */
@import 'sass/variables.scss';

@font-face {
    font-family: Gutcruncher;
    src: url("assets/fonts/Gutcruncher.otf") format("opentype");
}

.background{
    position: fixed;
    background: url(assets/img/background.jpg) top center no-repeat;
    background-size: cover;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    height: 100%;
    width: 100%;
}

app-root{
    position: relative;
    z-index: 2; 
}

h1, h2{
	font-family: Gutcruncher, Helvetica, sans-serif;
}

h3, h4{
	font-family: Candara, Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
}

.toast{
    margin-bottom: 20px;
}

.strike-through{
    text-decoration: line-through;
}

.name-col{
    white-space: normal;
    word-wrap: break-word;
    max-width: 150px; 
}

.baldosa{
    margin-bottom: .4rem;

    &:hover,
    &:focus,
    &:active{
        text-decoration: none;
    }
}

.tab-content{
    padding-top: .4rem;
}
.tab-pane{
    display: none;
    transition: opacity 0.15s linear;

    &.active{
        display: block;
    }
}

.tab-pane:not(.active){
    opacity: 0;
}

.tab-item a{
    cursor: pointer;
}

.mb-4{
    margin-bottom: 1.6rem;
}

.lightbox-image{
    cursor: pointer;
    width: 100%;
}

.playoffs>tbody>tr>td{
	vertical-align: middle;
}
.playoffs tbody tr td.info{
	background-color: $green;
	color: #ffffff;
}

.comments{
    margin: 0;
}
.comments li {
	list-style:none;
    margin-bottom: 2rem;
    margin-top: 0;
}
.comment_number {
	font-size: 2rem;
	display: block;
	float: left;
	color: $green;
    font-weight: bold;
    margin-left: .8rem;
}
.comment_info {
	font-size: 1rem;
    font-weight: bold;
    margin-bottom: .4rem;
	border-bottom: $green dashed 1px;
}
.comment_body {
    margin-left: 3rem;
}
.comment_foot {
    text-align: right;
    font-size: .7rem;
}
.new_comment {
	width:60%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

hr{
    border: none;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(27, 121, 31, 0.75), rgba(0, 0, 0, 0));
    margin: 1rem 0;
}

/** Reescritura de colores **/
.btn{
    color: $green;
    border-color: $green;
    &.btn-link{
        color: $green;
        border-color: transparent;
        &.active,
        &:active,
        &:focus,
        &:hover{
            color: $green-hover;
        }
    }
    &.btn-primary{
        background-color: $green;
        border-color: $green-hover;
        &.active, &:active, &:focus{
            background: $green;
            border-color: $green-hover;
        }
    
        &:hover{
            background-color: $green-hover;
            border-color: $green-hover-border;
        }
    }
}
.menu .menu-item>a:focus,
.menu .menu-item>a:hover{
    color: $green;
}
.menu .menu-item>a.active,
.menu .menu-item>a:active{
    color: $green;
}
a:focus{
    box-shadow: 0 0 0 0.1rem rgba(27, 121, 31, 0.2);
}
a,
a.active,
a:active,
a:visited{
    color: $green;
}
a:hover{
    color: $green-hover;
}
.tab .tab-item a:focus, .tab .tab-item a:hover{
    color: $green;
}
.tab .tab-item a.active, .tab .tab-item.active a{
    border-bottom-color: $green;
    color: $green;
}
.form-input:focus{
    border-color: $green;
    box-shadow: 0 0 0 0.1rem rgba(85,128,0,.2);
}
.pagination .page-item a:focus, .pagination .page-item a:hover{
    color: white;
}
