/* You can add global styles to this file, and also import other style files */
@import 'sass/variables.scss';

@font-face {
    font-family: Gutcruncher;
    src: url("assets/fonts/Gutcruncher.otf") format("opentype");
}

.background{
    position: fixed;
    background: url(assets/img/background.jpg) top center no-repeat;
    background-size: cover;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    height: 100%;
    width: 100%;
}

app-root{
    position: relative;
    z-index: 2; 
}

h1, h2{
	font-family: Gutcruncher, Helvetica, sans-serif;
}

h3, h4{
	font-family: Candara, Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
}

.toast{
    margin-bottom: 20px;
}

.c-body{
    padding: .5rem 1rem;
}

.c-header{
    padding: .5rem 1rem;
    height: 60px;
    background: url(assets/img/c-header.jpg) left top no-repeat;
    background-size: cover;

    h2{
        color: white;
        margin: 0;
    }
}

.strike-through{
    text-decoration: line-through;
}

.name-col{
    white-space: normal;
    word-wrap: break-word;
    max-width: 150px; 
}

.baldosa{
    margin-bottom: .4rem;

    &:hover,
    &:focus,
    &:active{
        text-decoration: none;
    }
}

.tab-content{
    padding-top: .4rem;
}
.tab-pane{
    display: none;
    transition: opacity 0.15s linear;

    &.active{
        display: block;
    }
}

.tab-pane:not(.active){
    opacity: 0;
}

.tab-item a{
    cursor: pointer;
}

.mb-4{
    margin-bottom: 1.6rem;
}

.lightbox-image{
    cursor: pointer;
    width: 100%;
}

.playoffs>tbody>tr>td{
	vertical-align: middle;
}
.playoffs tbody tr td.info{
	background-color: $standard-green;
	color: #ffffff;
}
